---
interface Props {
  title: string;
  skills: Array<{ label: string; icon: string }>;
  color: string;
}
const { title, skills, color } = Astro.props as Props;
---

<div class="rounded-xl p-8 bg-zinc-900/50 border border-zinc-800/40">
  <h3 class={`text-xl font-semibold mb-6 ${color}`}>{title}</h3>
  <ul class="space-y-6">
    {
      skills.map((skill) => (
        <li class="flex items-center gap-4">
          <img class="h-6" alt={skill.label} src={`./icons/${skill.icon}`} />
          <span>{skill.label}</span>
        </li>
      ))
    }
  </ul>
</div>
